@model sicaab.Models.Clientes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header text-center">
        <h3>Eliminar Cliente</h3>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.dni)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dni)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Edad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Edad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Correo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Correo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Celular)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="card-footer">
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        </div>
            }
        </div>
    </div>
</div>